{% load static %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/rocket.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <img src="{% static 'images/home.png' %}" alt="home">
            </a>
            <h1>{{ title }}</h1><hr>
        </div>
        {% for card in cards %}
        <div class="cardBox">
            <a href="{{ card.href }}">
                <div class="card">
                    <div class="content">
                        <h2>{{ card.id }}</h2>
                        <h3>{{ card.name }}</h3>
                        <img src="{% static ''%}{{card.image}}" alt="">
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>