{% load static %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/rocket.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <a href="#" class="scroll top"><img src="{% static 'images/top.png' %}" alt="top"></a>
    <a href="#bottom" class="scroll bottom"><img src="{% static 'images/bottom.png' %}" alt="bottom"></a>
    <a href="/" class="scroll home"><img src="{% static 'images/home.png' %}" alt="home"></a>
    <div class="container">
        <div class="header">
            <a href="/">
                <img src="{% static 'images/home.png' %}" alt="home">
            </a>
            <h1>{{ title }}</h1><hr>
        </div>
        <div id="bottom"><img id="state" src="{% static 'images/loading.gif' %}" alt="" ></div>
    </div>
    <script src="{% static 'javascripts/websocketHandler.js' %}"></script>
</body>
</html>